/* Footer.css */
.footer {
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.8);
  /* Semi-transparent background */
  color: white;
  font-size: 14px;
  clear: both;
}

.footer-left p {
  margin: 0;
}

.footer-right {
  display: flex;
  gap: 20px;
}

.footer-right a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s;
}